# Tune for your needs! Documentation about configuration options is
# available at https://github.com/facebook/hhvm/wiki/runtime-options

Log {
    Level = Warning
    AlwaysLogUnhandledExceptions = true
    Header = true
    InjectedStackTrace = true
    NativeStackTrace = false
    RuntimeErrorReportingLevel = 8183
    HeaderMangle = 1
    MaxMessagesPerRequest = 100

    UseLogFile = true
    File = /var/log/hhvm/error.log

    Access {
        * {
            File = /var/log/hhvm/access.log
        }
    }
}

Debug {
    FullBacktrace = true
    ServerStackTrace = true
    ServerErrorMessage = false
    TranslateSource = true

#    CoreDumpEmail =
#    CoreDumpReport = true
}

Server {
#    Host =
    Port = 8080
    SourceRoot = /var/www/localhost

    DefaultDocument = index.php

    EnableKeepAlive = false

    DefaultCharsetName = UTF-8

    APC {
        EnableApc = true
    }
}

Eval {
    Jit = true
}

Repo {
    Central {
        Path = /var/run/hhvm/hhvm.hhbc.sq3
    }
}

